
span {
    position: absolute;
    right: 0;
}

.hl_text {
    font-size: 24px;
    margin: 5px;
}

// Hello world

nav { // Navbar
    position: relative;
    top: 50px;
}

a {
    @extend .hl_text;
}